.containerContact{
  width: 300px !important;
  position:absolute !important;
  z-index: 1400;
}
.btns-contact button{
 margin-left: 20px;
}

.btn-contact-js i{
  font-size: 20px;
}

.show-contact{
  padding: 20px;
  font-size: 20px;
}
.modal-body{
  background-color:rgba(123, 167, 129, 0.771);
}
.modal-body a{
  text-decoration: none !important;
  color:rgb(44, 69, 44);
}