.img-heder{
   min-height: 100vh;
   display: block;
}

.heder-title{
    width: 400px;
    color: rgb(236, 231, 231);
    font-size: 12px;
    top: 60%;
    position: absolute;
    left: 4%;
    height: 100px;

}
.btn-login-heder{
    width: 100px;
    height: 40px;
    margin-top: 10px;

}
.btn-login-heder a{
  text-decoration: none;
  color:white;
  font-size: 18px!important;
}
.mb-0{
    margin-bottom: -16px!important;
   }
.heder-title p{
    color: rgb(234, 234, 234);
    font-size: 24px;
}
@media screen and (max-width: 800px){
   .heder-title{
    margin: 0px;
    width: 200px;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 5%;
    /* transform: translate(-50%,-50%); */
    border-radius: 5px;
   }
   .heder-title p{
    color: rgb(234, 234, 234);
    font-size: 14px;
}
   .overlay,.img-heder{
       min-height: 100%;
   }
   
}